body {
  background-color: #ced8ba;

  }

#calculator {
  background-color: #2a2b28;
  position: relative;
  top: 75px;
  width: 300px;
  height: 320px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  cursor: crosshair; 
}

#display {
  height: 30px;
  width: 75%;
  margin: 20px 0 0px 0;
  background-color: #93a570;
  font-size: 20px;
  text-align: right;
  border-bottom: 0px solid transparent;
}

#display2 {
  height: 15px;
  width: 75%;
  margin: 0px 0 0px 0;
  background-color: #93a570;
  text-align: right;
  border-top: 0px solid transparent;
}

#display3 {
  height: 15px;
  width: 15%;
  margin: 5px 0 20px 0;
  background-color: #93a570;
  text-align: right;
  border-top: 0px solid transparent;
}

#memory_span {
  margin: 0px 10px 0 125px;
  text-align: bottom;
  color: rgb(117, 135, 114);
}

.button {
  width: 50px;
  background-color: white;
  padding-top: 5px;
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  cursor: crosshair; 
}

.operation {
  background-color: #254c27;
  color: #e8da20;
}

.operation:hover {
  color: black;
}

.button:hover {
  background-color: #e8da20;
  font-weight: bold;
}

#buttonEqual {
  width: 100px;
  background-color: #b7010d;
  padding-top: 5px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  cursor: crosshair; 
 }
